/* .container {
  padding: 0px 30px;
} */
.news-feed-container {
  padding: 0px 60px;
}
.left-side-bar {
  border-right: 1px solid lightgray;
  padding-top: 40px;
  position: fixed;
  height: 100%;
  width: 300px;
  background-color: #fff;
}
.logo img {
  width: 120px;
  margin-left: 18px;
}
#m-logo {
  font-size: 26px;
  margin: auto;
  display: none;
}
.navigation {
  margin-top: 30px;
  height: 100%;
}
.navigation ul {
  margin: 0;
  padding: 0;
}
.navigation ul li {
  list-style: none;
  padding: 8px;
  position: relative;
}
.navigation ul li:hover {
  cursor: pointer;
  background-color: #f2f2f2;
  border-radius: 10px;
}
.navigation ul li:last-child {
  position: absolute;
  bottom: 10px;
  width: 90%;
}
.navigation ul li a {
  text-decoration: none;
  color: #000;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  font-size: 16px;
}
.navigation ul li a svg {
  font-size: 22px;
  padding: 10px;
}
.navigation ul li a span {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}
.navigation ul li a img {
  height: 22px;
  width: 22px;
  background-color: #f2f2f2;
  border-radius: 50%;
  margin: 10px;
}
.m-nav {
  display: none;
}

/* STORY */
.stories {
  display: flex;
  margin-bottom: 60px;
  font-size: 14px;
}
.story {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  margin-left: 20px;
}
.story img {
  width: 100%;
  border-radius: 50%;
}
.news-feed {
  padding-top: 40px;
}

/* POST */
.post-author {
  position: relative;
}
.post-head {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  left: 40px;
}
.auth-content {
  display: flex;
}
.auth-img img {
  width: 36px;
  border-radius: 50%;
}
.auth-img img:hover {
  cursor: pointer;
}
.auth-name {
  margin-left: 10px;
  font-weight: 600;
}
.auth-name:hover,
.post-more:hover {
  cursor: pointer;
  color: gray;
}
.post-time {
  margin-left: 5px;
}
.post-more {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  right: 0;
}

/* post body  */
.post-img {
  margin: 15px 0px;
}
.post-img img {
  width: 100%;
  border-radius: 3px;
}
.post-actions {
  position: relative;
}
.post-actions svg {
  font-size: 24px;
  margin-right: 10px;
}
.post-actions svg:hover {
  cursor: pointer;
  color: gray;
}
.post-actions .is-liked {
  color: red;
  display: none;
}
.r-bookmark svg {
  margin-right: 0px;
}
.post-actions .r-bookmark {
  position: absolute;
  right: 0;
}
.react-count {
  margin: 10px 0px;
  font-weight: 600;
  font-size: 14px;
}
.react-count:hover {
  cursor: pointer;
}
.post-content {
  font-size: 14px;
}
.post-c-auth-name {
  font-weight: 600;
}
.post-comments {
  color: gray;
}
.post-c-auth-name:hover,
.post-comments:hover {
  cursor: pointer;
}
.comment-form input[type="text"] {
  border: 0;
  width: 100%;
}
.comment-form input[type="text"]:focus {
  outline: none;
}

/* RIGHT SIDEBAR */
.right-sidebar {
  padding-top: 40px;
}
.h-profile-s {
  position: relative;
  display: flex;
  margin-bottom: 22px;
}
.h-profile-s .profile-thumb {
  height: 60px;
  width: 60px;
}
.h-profile-s .profile-thumb img {
  width: 100%;
  border-radius: 50%;
}
.h-profile-s .profile-cont {
  margin-left: 76px;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}
.h-profile-s .profile-cont p {
  margin: 0px;
  font-size: 14px;
}
.h-profile-s .profile-cont p:first-child {
  font-weight: 600;
}
.h-profile-s .profile-cont p:last-child {
  color: gray;
}

.suggest-text {
  font-size: 14px;
  color: gray;
  font-weight: 600;
}
.h-suggest-f {
  position: relative;
  display: flex;
  margin-bottom: 14px;
}
.h-suggest-f .h-suggest-thumb {
  height: 38px;
  width: 38px;
}
.h-suggest-f .h-suggest-thumb img {
  width: 100%;
  border-radius: 50%;
}
.h-suggest-f .h-suggest-cont {
  margin-left: 50px;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}
.h-suggest-f .h-suggest-cont p {
  margin: 0px;
  font-size: 14px;
}
.h-suggest-f .h-suggest-cont p:first-child {
  font-weight: 600;
}
.h-suggest-f .h-suggest-cont p:last-child {
  color: gray;
  font-size: 12px;
}

.h-follow-btn {
  position: absolute;
  right: 6px;
  top: 50%;
  transform: translate(0, -50%);
  font-size: 14px;
  color: rgb(0, 149, 246);
  font-weight: 600;
}
.h-follow-btn:hover {
  color: gray;
  cursor: pointer;
}
